<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
    <body >
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <div class = "dbody">
          <h4>{{ datos[1] }}</h4>
          <p>Descripción: {{ datos[2] }}</p>
          <p>Expiración: {{ datos[3] }}</p>
          <p>Precio: {{ datos[4] }}</p>
          <p>Tamaño: {{ datos[5] }}</p>
      </div>
        <div>
            <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Ingrediente</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Detalles</th>
                  </tr>
                </thead>
                {% for elemento in ingredientes %}
                <tbody>
                  <tr>
                    <td>{{elemento[1]}}</td>
                    <td>{{elemento[2]}}</td>
                    <td><a class="btn btn-light" href="https://neurus-app.herokuapp.com/ingrediente/{{ elemento[0] }}" role="button">Ver más</a></td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
        </div>
    </body>
</html>